/**
 * Archive Styles
 */
.archive {
  .page-header {
    margin-top: 30px;
    border: 0;
    position: relative;
    text-align: center;
    margin-bottom: 0%;

    .page-title {
      text-align: center;
      color: $c-red;
      display: inline-block;
      background-color: $c-white;
      font-weight: bold;
      padding: 0 2%;
      font-size: $f-size-xxl;

      &:before {
        content: "";
        position: absolute;
        border-bottom: 2px dashed $c-red;
        top: 32px;
        left: 0;
        width: 100%;
        z-index: -1;
      }
    }
  }
  .post-item{
    margin-bottom: 10px;
  }
  .no-results {
    .page-content {
      p {
        margin-right: 15px;
        margin-left: 15px;
      }
    }
    .search-form {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  article {
    margin-top: 40px;

    h2 {
      font-size: $f-size-xxl3;
    }

    h2 a {
      text-align: center;
      display: block;
      font-size: $f-size-xxl3  ;
      font-weight: bold;
    }
  }

  a.btn.link {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    -webkit-transition: translate(-50%);
    -moz-transition: translate(-50%);
    -ms-transition: translate(-50%);
    -o-transition: translate(-50%);
    margin-top: 10px;
  }
  .pagination {
    float: right;
    .nav-links {
      font-size: 22px;
      .next{
        font-size: 22px;
      }
      .page-numbers {
        padding: 5px 10px;
        margin: 0 2px 0 0;
        border: 1px solid #eee;
        text-decoration: none;
      }
      .page-numbers.current,
      a.page-numbers:hover {
        background: $c-light-blue;
      }
    }
  }
}

.post-item article {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .archive {
    .page-header .page-title:before {
      content: "";
      position: absolute;
      border-bottom: 2px dashed #e31937;
      top: 15px;
      left: 0;
      width: 100%;
      z-index: -1;
    }
    article {
      h2 {
        height: 30px;
      }
      h2 a {
        font-size: $f-size;
      }
    }
    a.btn.link {
      width: 90%;
    }

    // .archive-start {
    //   padding: 0;
    // }
    .archive-header {
      object-fit: cover;
      width: auto;
      right: auto;
      margin-bottom: 20px;
    }
    .archive_image {
      width: 100%;
      object-fit: contain;
    }
    .top-ideas .top-ideas-title {
      font-size: 15px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.archive-header {
  position: relative;
  z-index: 1;
  right: 15px;
}

.archive_image {
  width: 1170px;
  object-fit: contain;
}
.archive_circle {
  height: 200px;
  width: 400px;
  position: relative;
  top: -200px;
  z-index: 2;
  background-color: white;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
.archive_circle_image {
  width: 75%;
  position: relative;
  top: 50px;
  left: 65px;
}
.archive_overlay_text {
  position: relative;
  top: 80px;
  z-index: 3;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: $c-red;
}

.archive_name_mobile {
  text-align: center;
  color: $c-red;
  text-transform: uppercase;
  margin-top: 10px;
}

.archive_logo_mobile {
  width: 100%;
  margin-bottom: 20px;
}
.archive_image_mobile {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-top: 10px;
}

.archive-header-mobile {
  text-align: center;
}

@media (min-width: 767px) {
  .archive-header-mobile {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .archive_image {
    width: 100%;
  }
  .archive-header {
    right: 0px;
  }
  .archive {
    article {
      h2 {
        height: 40px;
      }
      h2 a {
        font-size: $f-size;
      }
    }
  }
}
