.mm-listview {
  a.mm-next {
    background-image: url("../creative-station/images/button_blue_arrow.png");
    background-repeat: no-repeat;
    background-position: 96% 12px;
    width: 100%;
    top: 5px;

    &:after {
      border: 0;
    }
  }
}

@media (min-width:768px) {
  .mm-listview {
    font-size: 20px!important;
    a.mm-next {
      background-image: url("../creative-station/images/button_blue_arrow.png");
      background-repeat: no-repeat;
      background-position: 56% 12px;
      width: 100%;
      top: 5px;
  
      &:after {
        border: 0;
      }
    }
  }
}

.mm-menu {
  .mm-listview {
    > li {
      background-color: $c-dark-blue;
      color: $c-white;

      a {
        padding: 13px 10px 13px 20px;

        &.mm-next {
          background-image: url("../creative-station/images/button_white_arrow.png");
        }
      }
      &.sub-category{
        a {
          &.mm-next {
          background-image: url("../creative-station/images/button_blue_arrow.png");
          }
        }
      }
    }
  }

  .mm-panel:not(#mm-1) {
    .mm-title {
      color: $c-white !important;
      text-align: left;
      padding-left: 15px;
      background-color: $c-dark-blue;
    }

    .menu-item {
      a:not(.mm-next) {
        width: 100%;
        background-color: white;
        border: 1px solid $c-dark-blue;
        border-top: 0;
        color: $c-dark-blue;
      }
    }
  }

  .mm-prev {
    background-image: url("../creative-station/images/button_blue_arrow_left.png");
    background-repeat: no-repeat;
    background-position: 15px;
    position: absolute;

    &:before {
      border: 0;
    }
  }

  .mm-navbar {
    .mm-close {
      background-image: url("../creative-station/images/menu-close.png");
      background-repeat: no-repeat;
      background-position: 8px;
      background-image: url("../creative-station/images/menu-close.png");
      background-repeat: no-repeat;
      background-position: 95% 12px;
      height: 40px;
      position: relative;
      top: -40px;

      &:before {
        border: 0;
      }

      &:after {
        border: 0;
      }
    }

    .mm-btn:first-child {
      position: absolute;
      top: -40px;
    }
  }

  .mm-panels {
    overflow: visible;
    background-color: $c-white;
  }

  .col-xs-2 {
    width: 100%;
  }

  .hidden-xs {
    display: block !important;
  }

  #mm-1 {
    .mm-title {
      display: none;
    }
  }

  .mm-navbar {
    top: 40px;
    padding: 0;
  }

  .mm-panels > .mm-panel.mm-hasnavbar {
    padding-top: 80px;
  }

  #mm-1 {
    padding-top: 40px;

    .mm-title {
      display: none;
    }
  }

  .mm-listview > li:not(.mm-divider):after {
    display: none;
  }
}

.view-all a {
  color: $c-light-blue2;
  text-transform: uppercase;
}
