/**
 * Colours
 */
$c-light-blue: #cce5f4;
$c-light-blue2: #b9e0f782;
$c-light-blue3: #02b9f1;
$c-blue: #00aeef;
$c-dark-blue: #0079c1;

$c-gray: #d7d7d7;
$c-gray-2: #7d7d7d;
$c-gray-3: #bbb;

$c-pink: #ec008c;
$c-light-pink: #f178af;
$c-pink-2: #fcd9ee;

$c-green: #00af85;
$c-green-2: #bcd755;

$c-red: #e31937;

$c-white: #ffffff;

$c-yellow: #fff200;

$c-orange: #f16521;

/**
 * Font sizes
 */
$f-size-xxxl: 30px;
$f-size-xxl: 22px;
$f-size-xl: 16px;
$f-size-l: 15px;
$f-size-xxl3: 18px;
$f-size: 14px;

$f-size-s: 13px;
$f-size-xs: 12px;
$f-size-xxs: 11px;

$f-size-xxl2: 20px;