@media (max-width: 330px) {
    .br-logo img {
      max-width: 150px;
    }
  }

@media (max-width: 400px) {
    a.btn.link {
      width: 90%;
    }
  
    span.two-word-drop {
      display: block !important;
    }

    header.site-header nav .search input {
      font-size: 14px;
    }
  
    .br-logo {
      width: 100%;
      padding-right: 20px;
    }
    .br-logo img {
      max-width: 160px;
    }
}

@media (max-width: 400px) {
    .thumbnail-overlay {
      top: 33%;
    }
  }


@media (max-width: 767px) {
    html {
      margin-top: 0 !important;
    }
  
    body .row {
      margin-left: 0;
      margin-right: 0;
    }
  
    body .featured.col-sm-6 {
      padding-right: 0;
    }
  
    .owl-next {
      right: -8%;
    }
  
    .owl-prev {
      left: -8%;
    }
  
    .top-ideas .owl-next {
      right: -1%;
    }
    .top-ideas .owl-prev {
      left: -1%;
    }
  
    .no-gutter-sm {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  
    div.archive-start .page-header {
      margin: 0;
    }
    div.archive-start .page-header h1 {
      margin: 0;
      font-size: 25px;
    }
  
    .top-ideas.bakerross-carousel .owl-carousel {
      padding: 0 7%;
    }
  }

  @media (max-width: 767px) {
    header#masthead > div:first-of-type {
      padding: 18px;
    }
  
    .pull-right-xs {
      float: right !important;
    }
  
    #menu-mobile {
      cursor: pointer;
      height: 50%;
      width: 9%;
      background-image: url("../creative-station/images/burger-icon-red.png");
      display: block;
      background-repeat: no-repeat;
      min-height: 37px;
      min-width: 27px;
      position: relative;
      top: 4px;
    }
  
    body.kids #menu-mobile {
      background-image: url("../creative-station/images/burger-icon-kids.png");
    }
    body.teachers #menu-mobile {
      background-image: url("../creative-station/images/burger-icon-teachers.png");
    }
    body.grown-ups #menu-mobile {
      background-image: url("../creative-station/images/burger-icon-grown-ups.png");
    }
  
    div#page header.site-header nav {
      background-color: transparent;
    }
  
    .desktop-navigation.container-fluid {
      padding: 0 15px;
    }
    #masthead > .container-fluid > div {
      padding: 0;
      position: relative;
    }
    #masthead > .container-fluid > div > div {
      padding: 0;
    }
    #masthead > .container-fluid > div > div > {
      padding: 0;
    }
    #masthead > .container-fluid > div .col-xs-12 {
      padding: 0;
    }
  
    body header.site-header nav {
      background-color: transparent;
      margin-bottom: 10px;
    }
  
    .site-branding {
      float: none !important;
    }
  
    div.top-ideas h2 {
      font-size: 20px;
    }
    div.top-ideas h2:before {
      top: 29px;
    }
  
    .btn {
      font-size: 12px;
    }
  
    .shop-at-bakerross {
      position: relative;
      top: 0px;
      margin-right: 5px;
    }
    .shop-at-bakerross:before {
      margin-right: 5px;
      width: 20px;
      height: 28px;
      background-size: 20px;
    }
    .shop-at-bakerross span {
      font-size: 12px;
    }
  
    .default-banner img {
      padding: 0 0 20px 0;
    }
    .landingpage-blocks > div {
        margin-bottom: 10px;
      }
  }

  @media (max-width: 767px) {
    footer h1 {
      font-size: 45px;
    }
  }

  @media (max-width: 767px) {
    footer .para {
      width: 100%;
    }
    .footer-image {
      width: 150px;
      height: 150px;
    }
  }
  @media (max-width: 767px) {
    .featured .col-sm-6 {
      padding-right: 0;
    }
  
    .landingpage-blocks {
      margin-top: 20px;
      margin-bottom: 0;
    }
  }

  
@media (max-width: 767px) {
    .archive .page-header .page-title:before {
      content: "";
      position: absolute;
      border-bottom: 2px dashed #e31937;
      top: 15px;
      left: 0;
      width: 100%;
      z-index: -1;
    }
    .archive a.btn.link {
      width: 90%;
    }
  
    .archive-start {
      padding: 0;
    }
  }

  @media (max-width: 767px) {
    #add-to-cart-popup .modal-dialog {
      width: 90%;
    }
  }

  @media (max-width: 700px) {
    #add-to-cart-popup .modal-content {
      padding: 10px 20px;
    }
  }

  @media (max-width: 700px) {
    .product-popup-actions .tocart {
      width: 100%;
      display: block;
      max-width: 100%;
      clear: both;
    }
  }

  @media (max-width: 700px) {
    .product-popup-actions .left-align {
      display: block;
      width: 100%;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 767px) {
    .video {
      display: none;
    }
  }

  @media (max-width: 767px) {
    .video.mobile {
      display: block;
    }
  }

  @media (max-width: 767px) {
    .project-instructions {
      margin-top: 20px;
    }
  
    .related-ideas .col-xs-6 {
      margin-bottom: 20px;
    }
    .related-ideas .col-xs-6:nth-child(odd) {
      padding-right: 0;
    }
    .related-ideas .col-xs-6:nth-child(even) {
      padding-left: 0;
    }
  
    .social-share {
      padding: 0 !important;
    }
    .social-share > span,
    .social-share > div {
      margin-right: 5%;
    }
    .social-share .print {
      margin: 0;
    }
  
    .tag-with + a {
      padding-left: 5px;
    }
  
    .nav-links .post-title {
      max-width: 126px;
      margin: 0 auto;
    }
  }


  @media (max-width: 767px) {
    .minicart-wrapper {
      border: 0;
      width: auto;
      margin-top: 3px;
    }
    .minicart-wrapper .minicart-subtotal,
    .minicart-wrapper .counter-label {
      display: none !important;
    }
    .minicart-wrapper .showcart {
      position: relative;
    }
    .minicart-wrapper .showcart:before {
      background-size: 26px;
      margin-top: 8px;
      width: 27px;
      height: 24px;
    }
    .minicart-wrapper .counter.qty {
      background: #0079c1;
      height: 18px;
      text-align: center;
      position: absolute;
      bottom: 9px;
      left: -4px;
      display: block;
      color: #fff;
      font-size: 10px;
      font-weight: lighter;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      padding: 0;
      min-width: 18px;
      margin-top: 0;
      line-height: 19px;
    }
  }

  @media (max-width: 767px) {
    .category-header {
      display: none;
    }
    .top-ideas .top-ideas-title {
      font-size: 15px;
    }
  }

  @media (max-width: 767px) {
    .archive-header {
      display: none;
    }
    .top-ideas .top-ideas-title {
      font-size: 15px;
    }
  }

  @media (min-width: 767px) {
    .header-box {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: min-content 1fr;
      align-items: center;
    }
  
    .pull-left {
      grid-row-start: 1;
      /* display: grid; */
      grid-row-end: 4;
      justify-self: start;
    }
  
    .pull-right {
      grid-column-start: 3;
      grid-row-start: 2;
      justify-self: end;
      align-self: end;
    }
  
    .minicart-wrapper {
      grid-column-start: 3;
      grid-row-start: 3;
      justify-self: end;
      align-self: center;
      margin-top: 10px;
    }
  
    .logo {
      height: 120px;
    }
  }
  