.archive {
  .page-header {
    margin-top: 30px;
    border: 0;
    position: relative;
    text-align: center;
    margin-bottom: 0%;

    .page-title {
      text-align: center;
      color: $c-dark-blue;
      display: inline-block;
      background-color: $c-white;
      font-weight: bold;
      padding: 0 2%;

      &:before {
        content: "";
        position: absolute;
        border-bottom: 2px dashed $c-dark-blue;
        top: 41px;
        left: 0;
        width: 100%;
        z-index: -1;
      }
    }
  }

  article{
    margin-top: 40px;

    h2 {
      font-size: $f-size-xl;
    }

    h2 a {
      text-align: center;
      display: block;
      font-size: $f-size;
      font-weight: bold;
    }
  }

  a.btn.link {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    -webkit-transition: translate(-50%);
    -moz-transition: translate(-50%);
    -ms-transition: translate(-50%);
    -o-transition: translate(-50%);
  }
}

body {
  &.kids {
    &.archive {
      .page-header {
        .page-title {
          color: $c-blue;
          background-color: #FEF3F9;
          font-size: $f-size-xxxl;

          &:before {
            border-bottom: 2px dashed $c-blue;
          }
        }
      }

      article {
        h2 a {
          color: $c-blue;
        }
      }
    }
  }

  &.teachers {
    &.archive {
      .page-header {
        .page-title {
          color: $c-orange;
          background-color: #F3FBF9;
          font-size: $f-size-xxxl;

          &:before {
            border-bottom: 2px dashed $c-orange;
          }
        }
      }

      article {
        h2 a {
          color: $c-orange;
        }
      }
    }
  }

  &.grown-ups {
    &.archive {
      .page-header {
        .page-title {
          color: $c-green-2;
          background-color: #FDFAF4;
          font-size: $f-size-xxxl;

          &:before {
            border-bottom: 2px dashed $c-green-2;
          }
        }
      }

      article {
        h2 a {
          color: $c-green-2;
        }
      }
    }
  }
}

.post-item article {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .archive {
    .page-header .page-title:before {
      display: none;
    }

    a.btn.link {
      width: 90%;
    }
  }

  .archive-start {
    padding: 0;
  }
}