/**
 * Header Styles
 */
.shop-at-bakerross {
  display: block;
  font-weight: bold;
  position: relative;
  top: 18px;

  &:before {
    content: '';
    display: inline-block;
    width: 26px;
    height: 34px;
    background: url('../creative-station/images/shopping_bag.png') no-repeat;
    margin-right: 10px;
    position: relative;
    top: 8px;
  }
}

header#masthead > div:first-of-type {
  background-color: $c-white;
  padding-top: 18px;
  padding-bottom: 18px;
}

header.site-header {
  nav {
    background-color: $c-light-blue;
    margin: 0 0 20px 0;
    > div > ul {
      padding: 0;
      margin-bottom: 0;

      .sub-menu {
        display: none;
      }

      // Parent navigation links
      > li.menu-item {
        > a {
          padding: 20px 0;
          font-size: $f-size-xxl;
          text-align: center;
          text-decoration: none;
          font-weight: bold;
        }

        &.active > a {
          color: white !important;
        }
      }

      li {
        list-style: none;
        display: block;
        margin-top: 5px;
        padding-right: 0;
        text-align: center;

        &:not(.search) {
          margin-top: 0;
          padding-left: 0;
          text-align: left;
          position: static;
        }

        > a {
          display: block;
        }

        a {
          color: $c-dark-blue;
          font-size: $f-size-s;
          text-align: left;
        }

        &.search {
          margin-top: 13px;
        }

        &.kids.active {
          background-color: $c-kids-base;

          > .sub-menu {
            border: 1px solid $c-kids-base;

            > li {
              > a {
                color: $c-kids-base;
              }
            }
          }
        }

        &.teachers.active {
          background-color: $c-teachers-base;

          > .sub-menu {
            border: 1px solid $c-teachers-base;

            > li {
              > a {
                color: $c-teachers-base;
              }
            }
          }
        }

        &.grown-ups.active {
          background-color: $c-light-pink;

          > .sub-menu {
            border: 1px solid $c-light-pink;

            > li {
              > a {
                color: $c-light-pink;
              }
            }
          }
        }

        &.free-printables.active {
          background-color: $c-light-blue3;

          > .sub-menu {
            border: 1px solid $c-light-blue3;

            li > .sub-menu {
              -moz-column-count: 4;
              -moz-column-gap: 20px;
              -webkit-column-count: 4;
              -webkit-column-gap: 20px;
              column-count: 3;
              column-gap: 15px;
            }
          }
        }

        &.active {
          // The first submenu !
          > .sub-menu {
            position: absolute;
            z-index: 2;
            padding: 1% !important;
            white-space: nowrap;

            > li {
              display: inline-block;
              float: left;
              padding-right: 20px;

              // 2nd level sub categories links
              > a {
                text-transform: uppercase;
              }

              // Second sub-menu
              > .sub-menu {
                // category links
                > li > a {
                  color: $c-gray-2;
                }
              }
            }
          }

          .sub-menu {
            display: inline-block;
            background-color: white;
            padding-left: 0;
          }
        }
      }
    }

    .search {
      label {
        width: 100%;
      }

      input {
        width: 100%;
        border: 0;
        height: 40px;
        padding-left: 3%;
        font-weight: 400;
        font-size: $f-size-xxl;
        border: 1px solid $c-dark-blue;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }

      button {
        position: absolute;
        right: 2%;
        top: 10px;
        border: 0;
        background-color: transparent;
        background-image: url("../creative-station/images/magnifying_glass.png");
        background-repeat: no-repeat;
        height: 21px;
        width: 20px;
      }
    }
  }
}

.desktop-navigation.container-fluid {
  padding: 0;
}

.default-banner {
  img {
    padding: 20px 0;
  }
}

body {
  &.kids {
    header.site-header nav .search button {
      background-image: url("../creative-station/images/magnifying_glass_kids.png");
    }
  }

  &.teachers {
    header.site-header nav .search button {
      background-image: url("../creative-station/images/magnifying_glass_teachers.png");
    }
  }

  &.grown-ups {
    header.site-header nav .search button {
      background-image: url("../creative-station/images/magnifying_glass_grown_ups.png");
    }
  }
}

.banner {
  img {
    width: 100%;
  }
}

.site-branding {
  text-align: center;
}

/* Mobile devices, less than 767px */
@media (max-width: 767px) {
  header#masthead > div:first-of-type {
    padding: 18px;
  }

  .pull-right-xs {
    float: right !important;
  }

  // Mobile menu burger icon
  #menu-mobile {
    cursor: pointer;
    height: 50%;
    width: 9%;
    background-image: url("../creative-station/images/burger-icon-red.png");
    display: block;
    background-repeat: no-repeat;
    min-height: 37px;
    min-width: 27px;
    position: relative;
    top: 4px;
  }

  body {
    &.kids {
      #menu-mobile {
        background-image: url("../creative-station/images/burger-icon-kids.png");
      }
    }

    &.teachers {
      #menu-mobile {
        background-image: url("../creative-station/images/burger-icon-teachers.png");
      }
    }

    &.grown-ups {
      #menu-mobile {
        background-image: url("../creative-station/images/burger-icon-grown-ups.png");
      }
    }
  }

  div#page header.site-header nav {
    background-color: transparent;
  }

  .desktop-navigation.container-fluid {
    padding: 0 15px;
  }
}

.br-logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-57%);
  -moz-transform: translateX(-57%);
  -ms-transform: translateX(-57%);
  -o-transform: translateX(-57%);
  transform: translateX(-57%);
  margin-right: 3%;
}

.minicart-wrapper {
  clear: both;
  float: right;
}

@media (max-width: 767px) {
  #masthead {
    > .container-fluid > div {
      padding: 0;
      position: relative;
      > div {
        padding: 0;
        > {
          padding: 0;
        }
      }

      .col-xs-12 {
        padding: 0;
      }
    }
  }

  body header.site-header nav {
    background-color: transparent;
    margin-bottom: 10px;
  }

  .site-branding {
    float: none !important;
  }

  div.top-ideas {
    h2 {
      font-size: 20px;

      &:before {
        top: 29px;
        display: none;
      }
    }
  }

  .btn {
    font-size: $f-size-xs;
  }

  .shop-at-bakerross {
    position: relative;
    top: 0px;
    margin-right: 5px;

    &:before {
      margin-right: 5px;
      width: 20px;
      height: 28px;
      background-size: 20px;
    }

    span {
      font-size: $f-size-xs;
    }
  }

  .default-banner {
    img {
      padding: 0 0 20px 0;
    }
  }
}

@media (max-width: 400px) {
  header.site-header{
    nav {
      .search {
        input {
          font-size: $f-size;
        }
      }
    }
  }

  .br-logo {
    width: 100%;
    padding-right: 20px;

    img {
      max-width: 160px;
    }
  }
}

@media (max-width: 330px) {
  .br-logo {
    img {
      max-width: 150px;
    }
  }
}