h1.entry-title {
  font-size: $f-size-xxxl;
  margin-top: 0;
  font-weight: bold;
}

.post {
  header+p {
    font-size: $f-size-xl;
  }
}

.post-date {
  font-weight: bold;
}

.post-image {
  width: 100%;
  margin-bottom: 30px;
}

.tag-with {
  float: left;
}

.tagged-with {
  font-size: $f-size-xs;
  margin-bottom: 20px;

  > p {
    &:nth-child(1) {
      display: none;
    }
  }
}

.tags {
  float: right;
  width: 72%;

  &:after {
    content: '';
    clear: both;
  }

  a {
    font-weight: bold;
  }
}

.top-craft-ideas {
  position: relative;
  background-color: $c-white;
  padding: 10px 20px;

  > div h4 {
    color: $c-white;
    margin: 0;
    padding: 10px 0;
    background-color: $c-blue;
    text-align: center;
    margin-bottom: 10px;
  }

  > div h4 span {
    text-transform: uppercase;
    color: $c-yellow;
  }

  > div.what-you-need-block h4 {
    margin-bottom: 20px;

    span {
      text-transform: none;
      font-size: 20px;
    }
  }

  .row {
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a.btn.link {
    width: 100%;
  }
}

.post-navigation {
  margin-top: 30px;
  overflow: auto;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  padding: 20px 0;

  h2 {
    display: none;
  }
}

.project-instructions {
  img {
    width: 100%;
    width: 100%;
    border: 1px solid $c-gray;
    margin-bottom: 20px;
  }

  .bold {
    margin-bottom: 0;
  }

  p, li {
    font-weight: 400;
  }

  ol {
    padding-left: 16px;
  }

  ul {
    padding-left: 0;
    > li {
      list-style: none;
    }
  }

  .tagged-with {
    padding-left: 0;
  }

  li {
    a {
      font-weight: 400;
      padding: 0;
    }
  }

  .template-list {
    margin-top: 10px;

    &+a {
      font-weight: 400;
    }
  }
}

.what-you-need {
  p.bold {
    margin: 15px 0 10px;
  }

  ul {
    li {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

body{
  &.kids {
    h1.entry-title {
      color: $c-blue;
    }

    .tags {
      a {
        color: $c-kids-base;
      }
    }

    .project-instructions {
      strong {
        color: $c-kids-base;
      }

      li a {
        color: $c-blue;
      }
    }

    .top-craft-ideas {
      .col-sm-6 {
        a {
          color: $c-blue;
        }
      }

      .col-sm-6 a.btn.link {
        color: white;
      }

      > div h4 {
        background-color: $c-blue;
      }
    }

    .post-navigation {
      border-color: $c-blue;
    }

    .related-ideas {
      h2 {
        color: $c-blue;
      }
    }

    .related-title {
      color: $c-kids-base;
    }

    .top-instruction-box {
      background-color: $c-pink-2;
    }
  }

  &.teachers {
    h1.entry-title {
      color: $c-orange;
    }

    .tags {
      a {
        color: $c-teachers-base;
      }
    }

    .project-instructions {
      strong {
        color: $c-teachers-base;
      }

      li a {
        color: $c-orange;
      }
    }

    .top-craft-ideas {
      .col-sm-6 {
        a {
          color: $c-orange;
        }
      }

      .col-sm-6 a.btn.link {
        color: white;
      }

      > div h4 {
        background-color: $c-orange;
      }
    }

    .post-navigation {
      border-color: $c-orange;
    }

    .related-ideas {
      h2 {
        color: $c-green;
      }
    }

    .related-title {
      color: $c-green;
    }

    .top-instruction-box {
      background-color: $c-teachers-background;
    }
  }

  &.grown-ups {
    h1.entry-title {
      color: $c-green-2;
    }

    .tags {
      a {
        color: $c-green-2;
      }
    }

    .project-instructions {
      strong {
        color: $c-light-pink;
      }

      li a {
        color: $c-green-2;
      }
    }

    .top-craft-ideas {
      .col-sm-6 {
        a {
          color: $c-green-2;
        }
      }

      .col-sm-6 a.btn.link {
        color: white;
      }

      > div h4 {
        background-color: $c-green-2;
      }
    }

    .post-navigation {
      border-color: $c-green-2;
    }

    .related-ideas {
      h2 {
        color: $c-green-2;
      }
    }

    .related-title {
      color: $c-green-2;
    }

    .top-instruction-box {
      background-color: $c-grownups-background;
    }
  }
}

.social-share {
  > div {
    float: left;
    margin-right: 9%;
  }

  > span {
    float: left;
    margin-right: 3%;
  }

  > a {
    margin-right: 3%;
  }

  .PIN_1474381934426_button_pin.PIN_1474381934426_save {
    position: relative;
    bottom: 6px;
  }

  .print {
    background: url("../creative-station/images/print.png") no-repeat;
    height: 21px;
    width: 22px;
    background-size: 20px;
    display: inline-block;
  }
}

.related-ideas {
  h2 {
    text-align: center;
    font-size: $f-size-xxxl;
  }

  .related-title {
    display: block;
    margin: 10px 0px;
    text-align: center;
  }

  .btn.link {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
  }
}

.row.top-instruction-box {
  padding: 20px 0 10px 0;
  margin: 0 0 10px 2px;

  p {
    display: inline-block;

    &:nth-child(2) {
      font-size: $f-size-xs;
    }
  }
}

.video {
  width: 100%;
  height: 202px;
  margin-bottom: 15px;

  @media (max-width: 767px) {
    display: none;
  }

  &.mobile {
    display: none;

    @media (max-width: 767px) {
      display: block;
    }
  }
}

.post-featured-image {
  position: relative;
}

.thumbnail-overlay {
  display: block;
  position: absolute;
  width: 100px;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}

/* Mobile devices, less than 767px */
@media (max-width: 767px) {
  .project-instructions {
    margin-top: 20px;
  }

  .related-ideas {
    .col-xs-6 {
      margin-bottom: 20px;

      &:nth-child(odd) {
        padding-right: 0;
      }

      &:nth-child(even) {
        padding-left: 0;
      }
    }
  }

  .social-share {
    padding: 0 !important;

    > span, > div {
      margin-right: 5%;
    }

    .print {
      margin: 0;
    }
  }

  .tag-with + a{
    padding-left: 5px;
  }

  .nav-links .post-title {
    max-width: 126px;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .thumbnail-overlay {
    top: 33%;
  }
}