/**
 * Colours
 */
$c-light-blue: #c9e6f6;
$c-light-blue2: #00aeef;
$c-light-blue3: #02b9f1;
$c-blue: #00aeef;
$c-dark-blue: #0071b9;

$c-gray: #d7d7d7;
$c-gray-2: #7d7d7d;
$c-gray-3: #bbb;

$c-pink: #ec008c;
$c-light-pink: #f178af;
$c-pink-2: #fcd9ee;

$c-green: #00af85;
$c-green-2: #bcd755;

$c-red: #dc002e;

$c-white: #ffffff;

$c-yellow: #fff200;

$c-orange: #f16521;

// Category specific colours
$c-kids-base: #ec008c;
$c-teachers-base: #00af85;
$c-grownups-base: #dca927;

$c-kids-background: rgba(236,0,140,0.05);
$c-teachers-background: rgba(0,175,133,0.05);
$c-grownups-background: rgba(220,169,39,0.05);

$c-kids-nav-background: rgba(236,0,140,0.15);
$c-teachers-nav-background: rgba(0,175,133,0.15);
$c-grownups-nav-background: rgba(220,169,39,0.15);

/**
 * Font sizes
 */
$f-size-xxxl: 22px;
$f-size-xxl: 18px;
$f-size-xl: 16px;
$f-size-l: 15px;

$f-size: 14px;

$f-size-s: 13px;
$f-size-xs: 12px;
$f-size-xxs: 11px;